light = #FFFEFF
medium = #AFB2AE
dark = #272E2E
l-brown = #633100
d-brown = #635443
red = #B30001


.app
    &__menu
        transform: scale(1.5, 0.9) translate(125px, -10px) rotate(-2deg)
        color: #c0ff33